<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- "driver_class" may not be needed for modern (JDBC 4+) applications.  
		<property name="connection.driver_class">net.ucanaccess.jdbc.UcanaccessDriver</property>
		-->
		
		<!-- essential database connection properties -->
		<property name="dialect">
			net.ucanaccess.hibernate.dialect.UCanAccessDialect
		</property>
		<property name="connection.url">
			jdbc:ucanaccess://C:/Users/Public/UCanHibernate.accdb;newDatabaseVersion=V2010
		</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>
		
		<!-- protect against table and column names with spaces, "funny characters", etc. -->
		<property name="globally_quoted_identifiers">true</property>

		<!-- Automatic schema generation. Possible values:
				none (default value), create-only, drop, create, create-drop, validate, and update
		
		https://docs.jboss.org/hibernate/orm/5.2/userguide/html_single/Hibernate_User_Guide.html#configurations-hbmddl
		-->
		<property name="hbm2ddl.auto">create</property>
		
		<!-- JDBC connection pool (use the built-in for test purposes) -->
		<property name="connection.pool_size">1</property>

		<!-- Disable the second-level cache  -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>

		<!-- List of the classes we want Hibernate to recognize as Entities -->
		<mapping class="net.ucanaccess.hibernate.dialect.test.Event"/>
		<mapping class="net.ucanaccess.hibernate.dialect.test.Guest"/>

	</session-factory>

</hibernate-configuration>
